@page "/"

<div>

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <BlazorOverlayScrollbars
        @ref="theOverlay"
        CssClass="h-200"
        Configurations="configurations"
        ProjectName="BlazorWasmDemo"
        CallbackOnInitialized="MyOnInitialized"
        CallbackOnInitializationWithdrawn="MyOnInitializationWithdrawn"
        CallbackOnDestroyed="MyOnDestroyed"
        CallbackOnScrollStart="MyOnScrollStart"
        CallbackOnScroll="MyOnScroll"
        CallbackOnScrollStop="MyOnScrollStop"
        CallbackOnContentSizeChanged="MyOnContentSizeChanged"
        CallbackOnHostSizeChanged="MyOnHostSizeChanged"
        CallbackOnUpdated="MyOnUpdated">
        <BlazorOverlayScrollbarsContent>
            <div style="min-width: 2000px;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                @if (showAll) {
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla maiores voluptas obcaecati temporibus ratione illum placeat, tempore corporis, recusandae, quos sint voluptatum adipisci ea nam commodi molestias inventore. Sint ipsam non repellendus similique quo distinctio cum officia aliquid facere aliquam repudiandae incidunt officiis illum nostrum id eaque amet deleniti sed a, soluta laboriosam quod veniam! Dicta non nostrum sapiente ab, beatae velit fuga eos quasi culpa ea consequatur, rem rerum enim consequuntur harum corrupti iure voluptates a neque illum vero obcaecati quidem optio? Possimus facilis cupiditate aspernatur maxime ipsum, ex ea itaque omnis libero nostrum nam suscipit dolor nihil labore.</p>  
                }
            </div>
        </BlazorOverlayScrollbarsContent>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <BlazorOverlayScrollbars>
        <BlazorOverlayScrollbarsContent>
            <textarea class="form-control"></textarea>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Carregando...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <BlazorOverlayScrollbars>
        <BlazorOverlayScrollbarsContent>
            <iframe src="iframe-sample.html"></iframe>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Carregando...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <div>
        <button class="btn btn-primary btn-sm" @onclick="@(e => ToggleContentSize())">Toggle Content Size</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyDestroy())">Destroy</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyConstroy())">Constroy</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyUpdate())">Update</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyScroll(null, "50%"))">Scroll to X 50%</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyScroll(0, 0))">Scroll to X 0</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MySleep())">Sleep</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => MyScrollStop())">Scroll Stop</button>
    </div>

    <br><br><br>

    <SurveyPrompt Title="How is Blazor working for you?" />

</div>

@code {
    public WMBOSConfigurations configurations;
    public BlazorOverlayScrollbars theOverlay;
    public bool showAll = false;

    protected override void OnInitialized()
    {
        configurations = new WMBOSConfigurations {
            className = "os-theme-block-dark",
            themePath = "https://kingsora.github.io/OverlayScrollbars/etc/os-theme-block-dark.css",
            resize = "both"
        };
        configurations.overflowBehavior.x = "hidden";
    }

    public void ToggleContentSize() {
        showAll = !showAll;
    }

    [JSInvokable]
    public static void MyOnInitialized()
    {
        System.Console.WriteLine("MyOnInitialized Called!");
    }

    [JSInvokable]
    public static void MyOnInitializationWithdrawn()
    {
        System.Console.WriteLine("MyOnInitializationWithdrawn Called!");
    }

    [JSInvokable]
    public static void MyOnDestroyed()
    {
        System.Console.WriteLine("MyOnDestroyed Called!");
    }

    [JSInvokable]
    public static void MyOnScrollStart()
    {
        System.Console.WriteLine("MyOnScrollStart Called!");
    }

    [JSInvokable]
    public static void MyOnScroll()
    {
        System.Console.WriteLine("MyOnScroll Called!");
    }

    [JSInvokable]
    public static void MyOnScrollStop()
    {
        System.Console.WriteLine("MyOnScrollStop Called!");
    }

    [JSInvokable]
    public static void MyOnContentSizeChanged()
    {
        System.Console.WriteLine("MyOnContentSizeChanged Called!");
    }

    [JSInvokable]
    public static void MyOnHostSizeChanged()
    {
        System.Console.WriteLine("MyOnHostSizeChanged Called!");
    }

    [JSInvokable]
    public static void MyOnUpdated()
    {
        System.Console.WriteLine("MyOnUpdated Called!");
    }

    public async void MyConstroy() 
    {
        await theOverlay.Constroy();
    }

    public async void MyDestroy() 
    {
        await theOverlay.Destroy();
    }

    public async void MyUpdate() 
    {
        await theOverlay.Update(true);
    }

    public async void MyScroll(string x, string y) 
    {
        await theOverlay.Scroll(x, y);
    }

    public async void MyScroll(int x, int y) 
    {
        await theOverlay.Scroll(x, y);
    }

    public async void MySleep() 
    {
        await theOverlay.Sleep();
    }

    public async void MyScrollStop() 
    {
        await theOverlay.ScrollStop();
    }
}