@page "/methods"

<div>

    <h1>Methods Demo</h1>

    <br><hr><br>

    <BlazorOverlayScrollbars @ref="theOverlay">
        <BlazorOverlayScrollbarsContent>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cupiditate earum quia consequatur, minus facere, sit, illum ad nesciunt unde dolorum eveniet molestiae molestias dolore a commodi possimus magnam debitis quisquam rem nostrum cumque labore saepe! Quae voluptatibus, saepe eligendi similique dolorum minus ea ipsum vel, aliquam aperiam quam porro a, perspiciatis velit nam necessitatibus! Ullam reiciendis asperiores omnis, quis, dignissimos provident incidunt aut, saepe vitae sit optio! Obcaecati esse est ratione temporibus dicta blanditiis fuga quibusdam asperiores accusantium ullam mollitia tempora, aliquam quae doloribus, pariatur vitae magni dolor, quia molestias expedita. Blanditiis suscipit repudiandae ad velit unde, eum dicta!</p>
        </BlazorOverlayScrollbarsContent>
        <BlazorOverlayScrollbarsLoading>
            <b>Loading...</b>
        </BlazorOverlayScrollbarsLoading>
    </BlazorOverlayScrollbars>

    <br><hr><br>

    <div>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleDestroy())">Destroy</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleConstroy())">Constroy</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleUpdate())">Update</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleScroll(null, "50%"))">Scroll to X 50%</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleScroll(0, 0))">Scroll to X 0</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleSleep())">Sleep</button>
        <button class="btn btn-primary btn-sm" @onclick="@(e => SampleScrollStop())">Scroll Stop</button>
    </div>

    <br><br><br>

</div>

@code {
    public BlazorOverlayScrollbars theOverlay;

    public async void SampleConstroy() 
    {
        await theOverlay.Constroy();
    }

    public async void SampleDestroy() 
    {
        await theOverlay.Destroy();
    }

    public async void SampleUpdate() 
    {
        await theOverlay.Update(true);
    }

    public async void SampleScroll(string x, string y) 
    {
        await theOverlay.Scroll(x, y);
    }

    public async void SampleScroll(int x, int y) 
    {
        await theOverlay.Scroll(x, y);
    }

    public async void SampleSleep() 
    {
        await theOverlay.Sleep();
    }

    public async void SampleScrollStop() 
    {
        await theOverlay.ScrollStop();
    }
}
